* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color:black;
   

  }
  
  .login-container {
    margin: 50px auto;
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #bfc21c, red, #864df1, #333);
    padding: 10px;
    box-shadow: 0 5px 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-right: 20px;
  }
  
  .navbar-menu a {
    color: silver;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  .navbar-menu a:hover {
    background-color: black;
    color: #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para hacer la barra de navegación responsive */
  @media screen and (max-width: 600px) {
    .navbar {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  
    .navbar-menu {
      flex-direction: column;
      margin-top: 20px;
    }
  
    .navbar-menu li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }  