/* Estilos para todos los elementos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos para el cuerpo de la página */
body {
  text-align: center;
  background: url(/people-440127_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Estilos para la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #bfc21c, red, #864df1, #333);
  padding: 10px;
  box-shadow: 0 5px 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu a {
  color: silver;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  transition: all 0.3s ease;
}

.navbar-menu a:hover {
  background-color: black;
  color: #ccc;
  border-radius: 5px;
}

/* Estilos para hacer la barra de navegación responsive */
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .navbar-menu {
    flex-direction: column;
    margin-top: 20px;
  }

  .navbar-menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

  

  

  


  

